<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Genelife</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styl.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0ed3cf">
    <meta name="msapplication-TileColor" content="#0ed3cf">
    <meta name="theme-color" content="#0ed3cf">

    <meta property="og:image" content="https://tailwindcomponents.com/storage/3307/conversions/temp55232-ogimage.jpg?v=2024-05-24 18:25:39" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />
    <meta property="og:image:type" content="image/png" />

    <meta property="og:url" content="https://tailwindcomponents.com/component/responsive-sidebar/landing" />
    <meta property="og:title" content="Responsive sidebar by Kamona-WD" />
    <meta property="og:description" content="Responsive sidebar" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@TwComponents" />
    <meta name="twitter:title" content="Responsive sidebar by Kamona-WD" />
    <meta name="twitter:description" content="Responsive sidebar" />
    <meta name="twitter:image" content="https://tailwindcomponents.com/storage/3307/conversions/temp55232-ogimage.jpg?v=2024-05-24 18:25:39" />

    <link rel="canonical" href="https://tailwindcomponents.com/component/responsive-sidebar" itemprop="URL">
</head>
<body class="relative bg-yellow-50 overflow-hidden max-h-screen">
    <header class="fixed right-0 top-0 left-60 bg-yellow-50 py-3 px-4 h-16">
        <div class="max-w-4xl mx-auto">
            <div class="flex items-center justify-between">
                <div>
                    <button type="button" class="flex items-center focus:outline-none rounded-lg text-gray-600 hover:text-yellow-600 focus:text-yellow-600 font-semibold p-2 border border-transparent hover:border-yellow-300 focus:border-yellow-300 transition">
                        <span class="inline-flex items-center justify-center w-6 h-6 text-gray-600 text-xs rounded bg-white transition mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </span>
                        <span class="text-sm">Archive</span>
                    </button>
                </div>
                <div class="text-lg font-bold">Today's Plan</div>
                <div>
                    <button type="button" class="flex items-center focus:outline-none rounded-lg text-gray-600 hover:text-yellow-600 focus:text-yellow-600 font-semibold p-2 border border-transparent hover:border-yellow-300 focus:border-yellow-300 transition">
                        <span class="text-sm">This week</span>
                        <span class="inline-flex items-center justify-center w-6 h-6 text-gray-600 text-xs rounded bg-white transition ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <aside class="fixed inset-y-0 left-0 bg-white shadow-md max-h-screen w-60">
        <div class="flex flex-col justify-between h-full">
            <div class="flex-grow">
                <div class="px-4 py-6 text-center border-b">
                    <h1 class="text-xl font-bold leading-none">
                        <span class="text-yellow-700">Genelife</span> App
                    </h1>
                </div>
                <div class="p-4">
                    <ul class="space-y-1">
                        {% if session['user_id'] %}
                        <li>
                            <a href="{{ url_for('dashboard') }}" class="text-gray-700 hover:text-indigo-600 flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-lg mr-4" viewBox="0 0 16 16">
                                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('weight_chart_route') }}" class="text-gray-700 hover:text-indigo-600 flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-lg mr-4" viewBox="0 0 16 16">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1z"/>
                                </svg>
                                Grafico Peso
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('calendar_view') }}" class="text-gray-700 hover:text-indigo-600 flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-lg mr-4" viewBox="0 0 16 16">
                                    <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
                                </svg>
                                Calendario
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}" class="text-red-500 hover:text-red-600 flex items-center font-bold text-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-lg mr-4" viewBox="0 0 16 16">
                                    <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                </svg>
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ url_for('login') }}" class="text-gray-700 hover:text-indigo-600">Login</a>
                        </li>
                        <li>
                            <a href="{{ url_for('register') }}" class="text-blue-500 hover:text-blue-600">Registrati</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    

    <main class="ml-60 pt-16 max-h-screen overflow-auto">
        <div class="px-6 py-8">
            <div class="max-w-4xl mx-auto">
                <div class="bg-white rounded-3xl p-8 mb-5">
                    <h1 class="text-3xl font-bold mb-10">Benvenuto in GenesyVita</h1>
                    <div class="flex items-center justify-between">
                        <div class="flex items-stretch">
                            <div class="text-gray-400 text-xs">Members<br>connected</div>
                            <div class="h-100 border-l mx-4"></div>
                            <div class="flex flex-nowrap -space-x-3">
                                <div class="h-9 w-9">
                                    <img class="object-cover w-full h-full rounded-full" src="https://ui-avatars.com/api/?background=random">
                                </div>
                                <div class="h-9 w-9">
                                    <img class="object-cover w-full h-full rounded-full" src="https://ui-avatars.com/api/?background=random">
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center gap-x-2">
                            <button type="button" class="inline-flex items-center justify-center h-9 px-3 rounded-xl border hover:border-gray-400 text-gray-800 hover:text-gray-900 transition">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                    <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                                </svg>
                            </button>
                            <button type="button" class="inline-flex items-center justify-center h-9 px-5 rounded-xl bg-gray-900 text-gray-300 hover:text-white text-sm font-semibold transition">
                                Open
                            </button>
                        </div>
                    </div>

                    <hr class="my-10">

                    <div class="grid grid-cols-2 gap-x-20">
                        <div>
                            <h2 class="text-2xl font-bold mb-4">Dashboard</h2>

                            <div class="grid grid-cols-2 gap-4">
                                <div class="col-span-2">
                                    <div class="p-4 bg-green-100 rounded-xl">
                                      
                                        <h1 class="font-bold text-xl text-gray-800 leading-none">Benvenuto, {{ user.username }}!</h1>

                                        <div class="mt-5">
                                            <button type="button" class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-white text-gray-800 hover:text-green-500 text-sm font-semibold transition">
                                                Start tracking your diet
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
                                    <div class="font-bold text-2xl leading-none"></div>
                                    <p><strong>Età:</strong> {{ user.age }} anni</p>
        <p><strong>Genere:</strong> {{ 'Maschio' if user.gender == 'male' else 'Femmina' }}</p>
        <p><strong>Altezza:</strong> {{ user.height }} cm</p>
        <p><strong>Peso attuale:</strong> {{ current_weight }} kg</p>
                                </div>
                                <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
                                    <p><strong>Livello di attività:</strong> 
                                        {% if user.activity_level == 'sedentary' %} Sedentario
                                        {% elif user.activity_level == 'lightlyActive' %} Leggermente attivo
                                        {% elif user.activity_level == 'moderatelyActive' %} Moderatamente attivo
                                        {% elif user.activity_level == 'veryActive' %} Molto attivo
                                        {% else %} Non specificato
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-span-2">
                                    <div class="p-4 bg-purple-100 rounded-xl text-gray-800">
                                        <div class="font-bold text-xl leading-none">Your daily plan</div>
                                        <p><strong>Obiettivo:</strong> 
                                            {% if user.goal == 'weightLoss' %} Perdita di peso
                                            {% elif user.goal == 'maintainWeight' %} Mantenimento del peso
                                            {% elif user.goal == 'muscleGain' %} Aumento della massa muscolare
                                            {% else %} Non specificato
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2 class="text-2xl font-bold mb-4"> Bisogni Nutrizionali Giornalieri</h2>

                            <div class="space-y-4">
                                <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
                                    <div class="flex justify-between">
                                        <div class="text-gray-400 text-xs">Calorie:</div>
                                        <div class="text-gray-400 text-xs">KCAL</div>
                                    </div>
                                    <p class="mb-2"><strong>Calorie:</strong> {{ user_needs.calories|round }} kcal</p>
                                    <div class="text-sm text-gray-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-gray-800 inline align-middle mr-1" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                        </svg>Da assumere durante le 24h
                                    </div>
                                </div>
                                <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
                                    <div class="flex justify-between">
                                        <div class="text-gray-400 text-xs">Proteine</div>
                                        <div class="text-gray-400 text-xs">Proteine</div>
                                    </div>
                                    <p class="mb-2"><strong>Proteine:</strong> {{ user_needs.protein|round(1) }} g</p>
                                    <div class="text-sm text-gray-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-gray-800 inline align-middle mr-1" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                        </svg>Da assumere durante le 24h
                                    </div>
                                </div>
                                <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
                                    <div class="flex justify-between">
                                        <p class="mb-2"><strong>Carboidrati:</strong> {{ user_needs.carbs|round(1) }} g</p>
                                        <div class="text-gray-400 text-xs">2h</div>
                                    </div>
                                    <p class="mb-2"><strong>Grassi:</strong> {{ user_needs.fat|round(1) }} g</p>                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-10">

                 <!-- Today's Meal Plan -->
<div class="mt-6">
    <h3 class="text-3xl font-bold text-gray-700">Piano Alimentare di Oggi</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
        {% for meal in meals %}
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h4 class="text-xl font-semibold text-gray-800 mb-2">{{ meal.meal_type.capitalize() }}: {{ meal.name }}</h4>
            <p class="mb-1"><strong>Calorie:</strong> {{ meal.calories }} kcal</p>
            <p class="mb-1"><strong>Proteine:</strong> {{ meal.protein }} g</p>
            <p class="mb-1"><strong>Carboidrati:</strong> {{ meal.carbs }} g</p>
            <p class="mb-1"><strong>Grassi:</strong> {{ meal.fat }} g</p>
            <p class="mb-1"><strong>Fibre:</strong> {{ meal.fiber }} g</p>
            
            {% if meal.ingredients %}
            <details class="mt-4">
                <summary class="font-semibold text-blue-600 cursor-pointer">Ingredienti e Nutrienti</summary>
                <div class="mt-2">
                    <p class="font-semibold">Ingredienti:</p>
                    <ul class="list-disc list-inside text-gray-700">
                        {% for ingredient in meal.ingredients %}
                        <li>{{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.unit }}</li>
                        {% endfor %}
                    </ul>
                    <p class="font-semibold mt-4">Vitamine:</p>
                    <ul class="list-disc list-inside text-gray-700">
                        {% for vitamin, amount in meal.vitamins.items() %}
                        <li>{{ vitamin }}: {{ amount }} mg</li>
                        {% endfor %}
                    </ul>
                    <p class="font-semibold mt-4">Minerali:</p>
                    <ul class="list-disc list-inside text-gray-700">
                        {% for mineral, amount in meal.minerals.items() %}
                        <li>{{ mineral }}: {{ amount }} mg</li>
                        {% endfor %}
                    </ul>
                </div>
            </details>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

                    

                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
    <script>
        const setup = () => {
            return {
                isSidebarOpen: false,
                currentSidebarTab: null,
                isSettingsPanelOpen: false,
                isSubHeaderOpen: false,
                watchScreen() {
                    if (window.innerWidth <= 1024) {
                        this.isSidebarOpen = false
                    }
                },
            }
        }
    </script>
</body>
</html>
